html {
	font-size: 10px;
	font-family: "Open Sans", sans-serif; /*comment */
	}

h1 {
	font-size: 60px;
	text-align: center;
}

p {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}

html {
	background-color: #241E1E;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

body {
  width: 600px;
  margin: 0 auto; /* When you set two values on a property like margin or padding, the first value affects the element's top and bottom side (setting it to 0 in this case); the second value affects the left and right side. (Here, auto is a special value that divides the available horizontal space evenly between left and right). You can also use one, two, three, or four values */
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}


